---
import MainForm from "../components/MainForm/MainForm.tsx";
import Shapes from "../components/MainForm/Shapes";
import Layout from "../layouts/Layout.astro";
import subjects from "../lib/subjects";
import tutors from "../lib/tutors";
import whyUs from "../lib/whyUs";
import { reviewFive, reviewFour, reviewSix } from "../reviews";

const HOME_LINK = "/#:~:text=Award%20Winning%20Tutors";
---

<Layout headerType="empty">
  <div slot="body-content">
    <!-- Loading -->
    <div id="preloader" class="preloader">
      <div class="preloader-inner">
        <div class="preloader-6">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <!-- / -->
    <!--Overlay-->
    <!--Wrapper-->
    <div class="app-wrapper">
      <div class="page-home">
        <!--Hero-->
        <section class="section section-hero section-hero-5 bg-gradient-180">
          <!-- <figure class="section-shape shape-1">
            <img src="assets/images/shapes/1.svg" alt="Image Description" />
        </figure> -->
          <div class="display-center">
            <div class="container">
              <MainForm client:visible />
            </div>
          </div>

          <Shapes client:visible />
        </section>
        <!--/-->
        <!--Features-->
        <section class="section section-features section-features-1">
          <div class="container">
            <div class="grid-container row-xs">
              <!--Col-->
              {
                subjects.map(({ name, src }) => {
                  return (
                    <div class="col-6 col-sm-4 col-md-4 col-lg-2">
                      <div>
                        <div class="item hover:transition-none animate-none">
                          <div class="inner flex items-center flex-col">
                            <img src={src} alt="alt" />
                            <h3>
                              <span class="text">{name}</span>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  );
                })
              }
            </div>
          </div>
        </section>
        <!--/-->
        <section class="section section-features section-features-2">
          <figure class="section-shape shape-1">
            <img
              class="img-fluid"
              src="assets/images/shapes/1.svg"
              alt="Image Description"
            />
          </figure>
          <div class="display-spacing">
            <div class="container">
              <header class="el-heading center">
                <h2>Tutoring For Parents Who Care</h2>
                <p>
                  Here's why parents love working with us (and you will too)
                </p>
                <div class="divider divider-line"></div>
              </header>
              <div class="row mb--45">
                <!--Item-->
                {
                  whyUs.map(({ title, description, image }) => {
                    return (
                      <div class="col-12 col-sm-6 col-md-4">
                        <div class="item">
                          <div class="icon">
                            <img src={image} alt="alt" />
                          </div>
                          <div class="details">
                            <h3>{title}</h3>
                            <p>{description}</p>
                          </div>
                        </div>
                      </div>
                    );
                  })
                }
                <div class="col-12 col-sm-6 col-md-4"></div>
              </div>
            </div>
          </div>
          <!--Call-To-Action-->
          <div class="section el-cta el-cta-1 overlay-color bg-animation-2">
            <div class="display-center">
              <div class="container">
                <div class="heading">
                  <h2>We care about more than <br /> just the marks</h2>
                  <p>
                    Our hand-picked tutors are selected as the most reliable,
                    passionate and academic group of tutors in Australia,
                    fostering not just great academic results but also a
                    lifelong love of learning.
                  </p>
                  <a href={HOME_LINK} class="button button-md button-light">
                    <span class="wave-hover"></span>
                    <span class="text text-primary">Let's get started.</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--/-->
          <section class="section section-teachers section-teachers-slider">
            <div class="display-spacing">
              <div class="container">
                <header class="el-heading center">
                  <h2>Australia's brightest and most experienced tutors</h2>
                  <p>
                    Our tutors are selected as the most reliable, passionate and
                    academic group of tutors in Australia, <br /> fostering not just
                    great academic results but also a lifelong love of learning.
                  </p>
                  <div class="divider divider-line"></div>
                </header>
                <div class="el-slider">
                  <div class="swiper-container swiper-teachers">
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {
                        tutors.map(({ name, image, description }) => {
                          return (
                            <div class="swiper-slide">
                              <div class="card el-card pb-4">
                                <a href="page-teacher.html">
                                  <div class="inner">
                                    <img
                                      class="object-cover max-h-40 w-full"
                                      src={image}
                                      alt="alt"
                                    />
                                    <div class="mt-8" />
                                    <div class="details">
                                      <h3>{name}</h3>
                                      <p>{description}</p>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          );
                        })
                      }
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
              <div class="py-4"></div>
            </div>
          </section>
          <!--Testimonial-->
          <section class="section section-testimonial bg-primary">
            <div class="pt-24 pb-16">
              <header class="el-heading center light">
                <h2>What do families say about us?</h2>
                <div class="divider divider-line"></div>
              </header>
              <div class="container">
                <div class="el-slider el-slider-dots">
                  <div class="swiper-container swiper-testimonial">
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="item">
                          <div class="content">
                            <p>{reviewFour.text}</p>
                          </div>
                          <div class="author">
                            <div class="avatar">
                              <img
                                src="https://lh3.googleusercontent.com/a-/ALV-UjXb5ELWF6COiXQZxYTdszpg2PyEGjkh9UyZbexmqt44qpMx3abO=w108-h108-p-rp-mo-br100"
                                alt="alt"
                              />
                            </div>
                            <h4>{reviewFour.author}</h4>
                            <h5>Parent</h5>
                          </div>
                        </div>
                      </div>
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="item">
                          <div class="content">
                            <p>{reviewFive.text}</p>
                          </div>
                          <div class="author">
                            <div class="avatar">
                              <img
                                src="https://lh3.googleusercontent.com/a-/ALV-UjXdRxtCLmK2qdSAhKGIyKUPdJC6oEOMNlpDCJRz21TXao1Lhl7_=w108-h108-p-rp-mo-br100"
                                alt="alt"
                              />
                            </div>
                            <h4>{reviewFive.author}</h4>
                            <h5>Parent</h5>
                          </div>
                        </div>
                      </div>
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="item">
                          <div class="content">
                            <p>{reviewSix.text}</p>
                          </div>
                          <div class="author">
                            <div class="avatar">
                              <img
                                src="https://lh3.googleusercontent.com/a/ACg8ocKWIDWHfSFOgAf5aKrdYJmbCeYKVeBEUUBSi3UF5CHH35PEZw=w108-h108-p-rp-mo-br100"
                                alt="alt"
                              />
                            </div>
                            <h4>{reviewSix.author}</h4>
                            <h5>Parent</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex justify-center items-center my-8">
                      <a
                        href="http://localhost:4321/"
                        class="button button-md button-light button-line-primary"
                      >
                        <span class="title">Read More Reviews</span>
                      </a>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--/-->
          <!--Courses-->
          <section class="section section-teachers section-teachers-slider">
            <div class="display-spacing">
              <div class="container">
                <header class="el-heading center">
                  <h2>Quality, Affordable Tutoring</h2>
                  <p>
                    Pay once and never worry about payments again. We charge
                    your card 24 hours after every lesson. <br /> Unhappy with your
                    first lesson? It's on us! 100% satisfaction guarantee
                  </p>
                  <div class="divider divider-line"></div>
                </header>
                <div class="flex items-center justify-center gap-8">
                  <div class="el-panel el-panel-financial bg-primary">
                    <div class="el-panel-body">
                      <p
                        class="text-center text-light text-lg font-bold m-0 p-0"
                      >
                        Online Tutoring
                      </p>
                      <div class="my-1"></div>
                      <p class="text-center text-light text-xs">
                        Anywhere, Anytime
                      </p>
                      <p class="price m-0 p-0">
                        <span class="currency">$49</span>
                      </p>
                      <p class="text-light font-primary text-md text-center">
                        Per Hour Session
                      </p>
                      <div class="my-6"></div>
                      <div class="flex items-center justify-center">
                        <a
                          href={HOME_LINK}
                          class="button button-md button-light button-line-primary"
                        >
                          <span class="text text-center text-primary"
                            >Book Your First Lesson Now</span
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="el-panel el-panel-financial bg-primary">
                    <div class="el-panel-body">
                      <p
                        class="text-center text-light text-lg font-bold m-0 p-0"
                      >
                        in-Person Tutoring
                      </p>
                      <div class="my-1"></div>
                      <p class="text-center text-light text-xs">
                        We Come To You!
                      </p>
                      <p class="price m-0 p-0">
                        <span class="currency">$69</span>
                      </p>
                      <p class="text-light font-primary text-md text-center">
                        Per Hour Session
                      </p>
                      <div class="my-6"></div>
                      <div class="flex items-center justify-center">
                        <a
                          href={HOME_LINK}
                          class="button button-md button-light button-line-primary"
                        >
                          <span class="text text-center text-primary"
                            >Book Your First Lesson Now</span
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-4"></div>
            </div>
          </section>
          <!--/-->
        </section>
        <!--Footer-->
      </div>
    </div>
  </div></Layout
>
