---
import { format } from "date-fns";
import { sanityClient } from "sanity:client";
import BlogPreview from "../../components/blog/BlogPreview.astro";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { POSTS_QUERY } from "../../sanity/lib/queries";
const posts = await sanityClient.fetch(POSTS_QUERY);
console.log({ posts });
---

<BlogPostLayout>
  <div>
    <div class="container mx-auto">
      <div class="py-16 lg:py-20">
        <div>
          <img src="/assets/images/icon-blog.png" alt="icon envelope" />
        </div>

        <h1
          class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
        >
          Blog
        </h1>

        <div class="pt-3 sm:w-3/4">
          <p class="font-body text-xl font-light text-primary dark:text-white">
            Hi-Up's articles, news, latest updates and more!
          </p>
        </div>

        <div class="pt-8 lg:pt-12">
          {
            posts.map((post) => {
              const { title, publishedAt, categories } = post;
              const categoryNames = categories.map(
                (category) => category.title
              );
              console.log({ categoryNames });
              const asDate = new Date(publishedAt);
              const formattedDate = format(asDate, "MMMM d, yyyy");
              const postUrl = `/blogs/${post.slug.current}`;
              return (
                <BlogPreview
                  title={title}
                  publishedAt={formattedDate}
                  categories={categoryNames}
                  postUrl={postUrl}
                />
              );
            })
          }
        </div>

        <!-- Pagination element -->

        <!-- <div class="flex pt-8 lg:pt-16">
          <span
            class="cursor-pointer border-2 border-secondary px-3 py-1 font-body font-medium text-secondary"
            >1</span
          >
          <span
            class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
            >2</span
          >
          <span
            class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
            >3</span
          >
          <span
            class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
            >Next
            <i
              class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"
            ></i></span
          >
        </div> -->
      </div>
    </div>
  </div>
</BlogPostLayout>
